<%- include('head.ejs') -%>
<main class="index wrap">
<section class="inner">
<h2 class="list-title">Daftar isi</h2>
<ol class="list">
<li><a href="/surah/al-fatihah" title="Al Fatihah">Al Fatihah</a></li>
<li><a href="/surah/al-baqarah" title="Al Baqarah">Al Baqarah</a></li>
<li><a href="/surah/ali-imran" title="Ali 'Imran">Ali 'Imran</a></li>
<li><a href="/surah/an-nisa" title="An Nisa">An Nisa</a></li>
<li><a href="/surah/al-maidah" title="Al Ma'idah">Al Ma'idah</a></li>
<li><a href="/surah/al-anam" title="Al An'am">Al An'am</a></li>
<li><a href="/surah/al-araf" title="Al A'raf">Al A'raf</a></li>
<li><a href="/surah/al-anfal" title="Al Anfal">Al Anfal</a></li>
<li><a href="/surah/at-taubah" title="At Taubah">At Taubah</a></li>
<li><a href="/surah/yunus" title="Yunus">Yunus</a></li>
<li><a href="/surah/hud" title="Hud">Hud</a></li>
<li><a href="/surah/yusuf" title="Yusuf">Yusuf</a></li>
<li><a href="/surah/ar-rad" title="Ar Ra'd">Ar Ra'd</a></li>
<li><a href="/surah/ibrahim" title="Ibrahim">Ibrahim</a></li>
<li><a href="/surah/al-hijr" title="Al Hijr">Al Hijr</a></li>
<li><a href="/surah/an-nahl" title="An Nahl">An Nahl</a></li>
<li><a href="/surah/al-isra" title="Al Isra'">Al Isra'</a></li>
<li><a href="/surah/al-kahfi" title="Al Kahfi">Al Kahfi</a></li>
<li><a href="/surah/maryam" title="Maryam">Maryam</a></li>
<li><a href="/surah/taha" title="Taha">Taha</a></li>
<li><a href="/surah/al-anbiya" title="Al Anbiya">Al Anbiya</a></li>
<li><a href="/surah/al-hajj" title="Al Hajj">Al Hajj</a></li>
<li><a href="/surah/al-muminun" title="Al Mu'minun">Al Mu'minun</a></li>
<li><a href="/surah/an-nur" title="An Nur">An Nur</a></li>
<li><a href="/surah/al-furqan" title="Al Furqan">Al Furqan</a></li>
<li><a href="/surah/asy-syuara" title="Asy Syu'ara'">Asy Syu'ara'</a></li>
<li><a href="/surah/an-naml" title="An Naml">An Naml</a></li>
<li><a href="/surah/al-qasas" title="Al Qasas">Al Qasas</a></li>
<li><a href="/surah/al-ankabut" title="Al 'Ankabut">Al 'Ankabut</a></li>
<li><a href="/surah/ar-rum" title="Ar Rum">Ar Rum</a></li>
<li><a href="/surah/luqman" title="Luqman">Luqman</a></li>
<li><a href="/surah/as-sajdah" title="As Sajdah">As Sajdah</a></li>
<li><a href="/surah/al-ahzab" title="Al Ahzab">Al Ahzab</a></li>
<li><a href="/surah/saba" title="Saba'">Saba'</a></li>
<li><a href="/surah/fatir" title="Fatir">Fatir</a></li>
<li><a href="/surah/yasin" title="Yasin">Yasin</a></li>
<li><a href="/surah/as-saffat" title="As Saffat">As Saffat</a></li>
<li><a href="/surah/sad" title="Sad">Sad</a></li>
<li><a href="/surah/az-zumar" title="Az Zumar">Az Zumar</a></li>
<li><a href="/surah/gafir" title="Gafir">Gafir</a></li>
<li><a href="/surah/fussilat" title="Fussilat">Fussilat</a></li>
<li><a href="/surah/asy-syura" title="Asy Syura">Asy Syura</a></li>
<li><a href="/surah/az-zukhruf" title="Az Zukhruf">Az Zukhruf</a></li>
<li><a href="/surah/ad-dukhan" title="Ad Dukhan">Ad Dukhan</a></li>
<li><a href="/surah/al-jasiyah" title="Al Jasiyah">Al Jasiyah</a></li>
<li><a href="/surah/al-ahqaf" title="Al Ahqaf">Al Ahqaf</a></li>
<li><a href="/surah/muhammad" title="Muhammad">Muhammad</a></li>
<li><a href="/surah/al-fath" title="Al Fath">Al Fath</a></li>
<li><a href="/surah/al-hujurat" title="Al Hujurat">Al Hujurat</a></li>
<li><a href="/surah/qaf" title="Qaf">Qaf</a></li>
<li><a href="/surah/az-zariyat" title="Az Zariyat">Az Zariyat</a></li>
<li><a href="/surah/at-tur" title="At Tur">At Tur</a></li>
<li><a href="/surah/an-najm" title="An Najm">An Najm</a></li>
<li><a href="/surah/al-qamar" title="Al Qamar">Al Qamar</a></li>
<li><a href="/surah/ar-rahman" title="Ar Rahman">Ar Rahman</a></li>
<li><a href="/surah/al-waqiah" title="Al Waqi'ah">Al Waqi'ah</a></li>
<li><a href="/surah/al-hadid" title="Al Hadid">Al Hadid</a></li>
<li><a href="/surah/al-mujadilah" title="Al Mujadilah">Al Mujadilah</a></li>
<li><a href="/surah/al-hasyr" title="Al Hasyr">Al Hasyr</a></li>
<li><a href="/surah/al-mumtahanah" title="Al Mumtahanah">Al Mumtahanah</a></li>
<li><a href="/surah/as-saff" title="As Saff">As Saff</a></li>
<li><a href="/surah/al-jumuah" title="Al Jumu'ah">Al Jumu'ah</a></li>
<li><a href="/surah/al-munafiqun" title="Al-Munafiqun">Al-Munafiqun</a></li>
<li><a href="/surah/at-tagabun" title="At Tagabun">At Tagabun</a></li>
<li><a href="/surah/at-talaq" title="At  Talaq">At Talaq</a></li>
<li><a href="/surah/at-tahrim" title="At Tahrim">At Tahrim</a></li>
<li><a href="/surah/al-mulk" title="Al Mulk">Al Mulk</a></li>
<li><a href="/surah/al-qalam" title="Al Qalam">Al Qalam</a></li>
<li><a href="/surah/al-haqqah" title="Al Haqqah">Al Haqqah</a></li>
<li><a href="/surah/al-maarij" title="Al Ma'arij">Al Ma'arij</a></li>
<li><a href="/surah/nuh" title="Nuh">Nuh</a></li>
<li><a href="/surah/al-jinn" title="Al Jinn">Al Jinn</a></li>
<li><a href="/surah/al-muzzammil" title="Al Muzzammil">Al Muzzammil</a></li>
<li><a href="/surah/al-muddassir" title="Al Muddassir">Al Muddassir</a></li>
<li><a href="/surah/al-qiyamah" title="Al Qiyamah">Al Qiyamah</a></li>
<li><a href="/surah/al-insan" title="Al Insan">Al Insan</a></li>
<li><a href="/surah/al-mursalat" title="Al Mursalat">Al Mursalat</a></li>
<li><a href="/surah/an-naba" title="An Naba'">An Naba'</a></li>
<li><a href="/surah/an-naziat" title="An Nazi'at">An Nazi'at</a></li>
<li><a href="/surah/abasa" title="'Abasa">'Abasa</a></li>
<li><a href="/surah/at-takwir" title="At Takwir">At Takwir</a></li>
<li><a href="/surah/al-infitar" title="Al Infitar">Al Infitar</a></li>
<li><a href="/surah/al-mutaffifin" title="Al Mutaffifin">Al Mutaffifin</a></li>
<li><a href="/surah/al-insyiqaq" title="Al-Insyiqaq">Al-Insyiqaq</a></li>
<li><a href="/surah/al-buruj" title="Al Buruj">Al Buruj</a></li>
<li><a href="/surah/at-tariq" title="At Tariq">At Tariq</a></li>
<li><a href="/surah/al-ala" title="Al A&acute;Laa">Al A&acute;Laa</a></li>
<li><a href="/surah/al-gasyiyah" title="Al-Gasyiyah">Al-Gasyiyah</a></li>
<li><a href="/surah/al-fajr" title="Al Fajr">Al Fajr</a></li>
<li><a href="/surah/al-balad" title="Al Balad">Al Balad</a></li>
<li><a href="/surah/asy-syams" title="Asy Syams">Asy Syams</a></li>
<li><a href="/surah/al-lail" title="Al Lail">Al Lail</a></li>
<li><a href="/surah/ad-duha" title="Ad Duha">Ad Duha</a></li>
<li><a href="/surah/asy-syarh" title="Asy Syarh">Asy Syarh</a></li>
<li><a href="/surah/at-tin" title="At Tin">At Tin</a></li>
<li><a href="/surah/al-alaq" title="Al 'Alaq">Al 'Alaq</a></li>
<li><a href="/surah/al-qadr" title="Al Qadr">Al Qadr</a></li>
<li><a href="/surah/al-bayyinah" title="Al Bayyinah">Al Bayyinah</a></li>
<li><a href="/surah/al-zalzalah" title="Al Zalzalah">Al Zalzalah</a></li>
<li><a href="/surah/al-adiyat" title="Al 'Adiyat">Al 'Adiyat</a></li>
<li><a href="/surah/al-qariah" title="Al Qari'ah">Al Qari'ah</a></li>
<li><a href="/surah/at-takasur" title="At Takasur">At Takasur</a></li>
<li><a href="/surah/al-asr" title="Al 'Asr">Al 'Asr</a></li>
<li><a href="/surah/al-humazah" title="Al Humazah">Al Humazah</a></li>
<li><a href="/surah/al-fil" title="Al Fil">Al Fil</a></li>
<li><a href="/surah/quraisy" title="Quraisy">Quraisy</a></li>
<li><a href="/surah/al-maun" title="Al Ma'un">Al Ma'un</a></li>
<li><a href="/surah/al-kausar" title="Al Kausar">Al Kausar</a></li>
<li><a href="/surah/al-kafirun" title="Al Kafirun">Al Kafirun</a></li>
<li><a href="/surah/an-nasr" title="An Nasr">An Nasr</a></li>
<li><a href="/surah/al-lahab" title="Al Lahab">Al Lahab</a></li>
<li><a href="/surah/al-ikhlas" title="Al Ikhlas">Al Ikhlas</a></li>
<li><a href="/surah/al-falaq" title="Al Falaq">Al Falaq</a></li>
<li><a href="/surah/an-nas" title="An Nas">An Nas</a></li>
</ol>
</section>
</main> 
<%- include('footer.ejs') -%>
<div id="om-aegqqhfkwttcf814-holder"></div>
<div id="om-hturdrk0vmu1ibqb-holder"></div>
<script defer src="/assets/sitev4.0.min.js" type="89ce95e585ddfba60f20c610-text/javascript"></script>
</script></body>
</html>
